@font-face {
  font-family: 'Terminal Dosis Light';
  font-style: normal;
  font-weight: normal;
  src: local('Terminal Dosis Light'), local('TerminalDosis-Light'), url('http://themes.googleusercontent.com/font?kit=UyNOlq8pwXsdXFw6uDx3EsuWMgQHijYpYvS_tBeteOc') format('truetype');
}
